# **PACKAGES**

In [1]:
%load_ext autoreload
%autoreload 2

In [10]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

ROOT_DIR = os.getcwd()
if ROOT_DIR.endswith("notebooks"):
    ROOT_DIR = os.path.dirname(ROOT_DIR)

os.chdir(ROOT_DIR)

from src import utils

'/Users/kwassibenocharlesdokodjo/Documents/Challenges/Uber_Sanral/sanral'

# **DATA LOADING**

In [59]:
train = pd.read_csv("../data/train.csv")

In [13]:
utils.data_args(train)

The shape of the data is:  (53845, 9)

The columns of the dataset are:

EventId
Occurrence Local Date Time
Reporting Agency
Cause
Subcause
Status
longitude
latitude
road_segment_id

In [6]:
train.tail(20)

,EventId,Occurrence Local Date Time,Reporting Agency,Cause,Subcause,Status,longitude,latitude,road_segment_id
53825,152110,31/12/18 18:42,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.5885641296,-33.884510,927BHUF
53826,152112,31/12/18 18:51,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.4709049545,-33.945125,1Q44FGG
53827,152113,31/12/18 19:05,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.7380723339,-33.834886,G850GMA
53828,152115,31/12/18 19:33,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.5950322972,-33.885991,F53D1DI
53829,152118,31/12/18 19:47,Traffic Services (CoCT),Stationary Vehicle,Shoulder Lane,Closed,18.5217629949,-33.950323,8PA0RQ9
53830,152121,31/12/18 19:57,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.7156517138,-33.844516,B6D0HHC
53831,152123,31/12/18 20:08,Camera,Police and Military,Road Block,Closed,18.6468955508,-33.987655,HSJ0WM7
53832,152126,31/12/18 20:24,Ambulance Services (Provincial),Stationary Vehicle,Shoulder Lane,Closed,18.6123510258,-33.889421,N90YL69
53833,152127,31/12/18 20:33,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.604061938,-33.989788,CZBWW0Z
53834,152128,31/12/18 20:27,Camera,Stationary Vehicle,Travel Lane,Closed,18.4662317459,-33.945656,W70WUF7
53835,152129,31/12/18 20:29,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.7060158541,-33.851241,GBN0X51
53836,152131,31/12/18 20:38,Ambulance Services (Provincial),Crash,Single Vehicle,Closed,18.6282788949,-34.000837,WE8VOFH
53837,152133,31/12/18 20:38,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.5960544114,-33.886534,F53D1DI
53838,152134,31/12/18 20:49,Camera,Congestion,Mainline Congestion,Closed,18.4340764132,-33.919464,086LLYS
53839,152135,31/12/18 20:57,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.541170587,-33.888418,S0B3CGQ
53840,152136,31/12/18 21:14,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.601735312,-33.989120,CZBWW0Z
53841,152139,31/12/18 21:33,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.5765946661,-33.970978,7AKUBY4
53842,152142,31/12/18 22:01,SAPS,Police and Military,Hijacking,Closed,18.6585756463,-33.949194,YQCBO2Y
53843,152143,31/12/18 22:12,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.6250798029,-33.888283,Z2OSI9E
53844,152149,31/12/18 23:45,SAPS,Stationary Vehicle,Shoulder Lane,Closed,18.6529483529,-33.976858,GFX7S4B

In [42]:
injuries = pd.read_csv("../data/SANRAL_v2/injuries2016_2019.csv")
vehicles = pd.read_csv("../data/SANRAL_v2/Vehicles2016_2019.csv").drop("Unnamed: 5", axis=1)

In [15]:
utils.data_args(injuries)

The shape of the data is:  (26307, 5)

The columns of the dataset are:

Network ID
Event Id
Created Local Date Time
No Injuries
Injury Type

In [43]:
utils.data_args(vehicles)

The shape of the data is:  (72386, 5)

The columns of the dataset are:

NetworkId
EventID
CreatedLOcalDateTime
VehicleType
Color

In [19]:
injuries.tail(10)

,Network ID,Event Id,Created Local Date Time,No Injuries,Injury Type
26297,WC,166125,Mar 31 2019 9:02PM,0,None
26298,WC,166127,Mar 31 2019 9:23PM,0,None
26299,WC,166128,Mar 31 2019 9:26PM,0,None
26300,WC,166129,Mar 31 2019 9:44PM,0,None
26301,WC,166130,Mar 31 2019 9:56PM,0,None
26302,WC,166131,Mar 31 2019 10:29PM,0,None
26303,WC,166132,Mar 31 2019 10:42PM,0,None
26304,WC,166133,Mar 31 2019 10:53PM,0,None
26305,WC,166134,Mar 31 2019 10:57PM,0,None
26306,WC,166135,Mar 31 2019 11:24PM,0,None

In [22]:
injuries["Injury Type"].value_counts(True)

None        0.932413
Light       0.040712
Severe      0.015205
Fatality    0.011670
Name: Injury Type, dtype: float64

In [44]:
vehicles.tail(20)

      NetworkId   EventID            CreatedLOcalDateTime VehicleType   Color
72366        WC  166117.0  Mar 31 2019  4:54PM                   Taxi   White
72367        WC  166118.0  Mar 31 2019  5:44PM                    LDV   White
72368        WC  166119.0  Mar 31 2019  6:23PM                    Car     Red
72369        WC  166120.0  Mar 31 2019  6:31PM                    Car   White
72370        WC  166121.0  Mar 31 2019  6:42PM                    Car   Other
72371        WC  166122.0  Mar 31 2019  7:02PM                    Car   Other
72372        WC  166123.0  Mar 31 2019  7:05PM                    Car   Other
72373        WC  166124.0  Mar 31 2019  8:17PM                    Car   White
72374        WC  166124.0  Mar 31 2019  8:17PM                    Car  Silver
72375        WC  166124.0  Mar 31 2019  8:17PM                    Car   Other
72376        WC  166125.0  Mar 31 2019  9:02PM                   Taxi   White
72377        WC  166127.0  Mar 31 2019  9:23PM                    Car  Silver
72378        WC  166128.0  Mar 31 2019  9:26PM                    LDV   Other
72379        WC  166129.0  Mar 31 2019  9:44PM                    Car   Black
72380        WC  166130.0  Mar 31 2019  9:56PM                    Car   Other
72381        WC  166131.0  Mar 31 2019 10:29PM                    LDV   Other
72382        WC  166133.0  Mar 31 2019 10:53PM                    Car  Silver
72383        WC  166134.0  Mar 31 2019 10:57PM                    Car   White
72384        WC  166135.0  Mar 31 2019 11:24PM                    Car  Silver
72385        WC  166135.0  Mar 31 2019 11:24PM                    Car     Red

In [60]:
target = [1 if event in list(injuries["Event Id"].unique()) else 0 for event in list(train["EventId"].unique())]

In [62]:
train["target"] = target

In [63]:
train = train.merge(injuries, left_on="EventId", right_on="Event Id", how="left")
train = train.merge(vehicles, left_on="EventId", right_on="EventID", how="left")

In [66]:
train.target.value_counts(True)

0    0.736018
1    0.263982
Name: target, dtype: float64

In [64]:
train[train["target"]==0]

,EventId,Occurrence Local Date Time,Reporting Agency,Cause,Subcause,Status,longitude,latitude,road_segment_id,target,Network ID,Event Id,Created Local Date Time,No Injuries,Injury Type,NetworkId,EventID,CreatedLOcalDateTime,VehicleType,Color
0,60558,01/01/16 00:53,Cam,Stationary Vehicle,Vehicle On Shoulder,Closed,18.5408955032,-33.888275,S0B3CGQ,0,NaN,NaN,NaN,NaN,NaN,WC,60558.0,01/01/16 00:52,Car,White
1,60559,01/01/16 00:54,CAMERA,Accident,With A Fixed Object,Closed,18.9307563219,-34.140857,RYJYAPI,0,NaN,NaN,NaN,NaN,NaN,WC,60559.0,01/01/16 00:49,Car,Other
4,60561,01/01/16 02:56,CAMERA,Stationary Vehicle,Vehicle On Shoulder,Closed,18.6775561589,-33.895258,RY0TRQ8,0,NaN,NaN,NaN,NaN,NaN,WC,60561.0,01/01/16 02:55,Car,White
5,60562,01/01/16 03:40,CAMERA,Accident,Multi Vehicle,Closed,18.8371319682,-34.087051,8LOVJZ3,0,NaN,NaN,NaN,NaN,NaN,WC,60562.0,01/01/16 03:39,Car,Other
6,60562,01/01/16 03:40,CAMERA,Accident,Multi Vehicle,Closed,18.8371319682,-34.087051,8LOVJZ3,0,NaN,NaN,NaN,NaN,NaN,WC,60562.0,01/01/16 03:39,Car,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59393,152033,31/12/18 11:55,Camera,Police and Military,Road Rage,Closed,18.4555275507,-33.937959,M223F8G,0,NaN,NaN,NaN,NaN,NaN,WC,152033.0,Dec 31 2018 11:54AM,Car,Silver
59394,152033,31/12/18 11:55,Camera,Police and Military,Road Rage,Closed,18.4555275507,-33.937959,M223F8G,0,NaN,NaN,NaN,NaN,NaN,WC,152033.0,Dec 31 2018 11:54AM,Car,White
59406,152049,31/12/18 13:43,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.5918570056,-33.884768,MJ9YER2,0,NaN,NaN,NaN,NaN,NaN,WC,152049.0,Dec 31 2018 1:43PM,Truck,White
59408,152051,31/12/18 14:03,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.4414464858,-33.921610,7QBQK9L,0,NaN,NaN,NaN,NaN,NaN,WC,152051.0,Dec 31 2018 2:01PM,Truck,White
59423,152070,31/12/18 14:57,Traffic Services (CoCT),Fire & Smoke,Veld Fire,Closed,18.4545246866,-33.939941,QFRMXC4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
utils.data_args(train)

The shape of the data is:  (59470, 19)

The columns of the dataset are:

EventId
Occurrence Local Date Time
Reporting Agency
Cause
Subcause
Status
longitude
latitude
road_segment_id
Network ID
Event Id
Created Local Date Time
No Injuries
Injury Type
NetworkId
EventID
CreatedLOcalDateTime
VehicleType
Color

In [67]:
submission = pd.read_csv("../data/SampleSubmission.csv")

In [0]:
submission.head()