# **PACKAGES**

In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

ROOT_DIR = os.getcwd()
if ROOT_DIR.endswith("notebooks"):
    ROOT_DIR = os.path.dirname(ROOT_DIR)

os.chdir(ROOT_DIR)

'/Users/kwassibenocharlesdokodjo/Documents/Challenges/Uber_Sanral/sanral'

# **DATA LOADING**

In [4]:
train = pd.read_csv("../data/train.csv")

In [7]:
print(train.shape)
for col in train.columns:
    print(col)

(53845, 9)
EventId
Occurrence Local Date Time
Reporting Agency
Cause
Subcause
Status
longitude
latitude
road_segment_id

In [8]:
train.head()

,EventId,Occurrence Local Date Time,Reporting Agency,Cause,Subcause,Status,longitude,latitude,road_segment_id
0,60558,01/01/16 00:53,Cam,Stationary Vehicle,Vehicle On Shoulder,Closed,18.5408955032,-33.888275,S0B3CGQ
1,60559,01/01/16 00:54,CAMERA,Accident,With A Fixed Object,Closed,18.9307563219,-34.140857,RYJYAPI
2,60560,01/01/16 02:26,Law Enforcement,Accident,Multi Vehicle,Closed,18.5533575029,-33.959154,U3KP57C
3,60561,01/01/16 02:56,CAMERA,Stationary Vehicle,Vehicle On Shoulder,Closed,18.6775561589,-33.895258,RY0TRQ8
4,60562,01/01/16 03:40,CAMERA,Accident,Multi Vehicle,Closed,18.8371319682,-34.087051,8LOVJZ3

In [10]:
injuries = pd.read_csv("../data/SANRAL_v2/injuries2016_2019.csv")

In [12]:
injuries.shape

(26307, 5)